{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}
{% block stylesheet %}
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
</style>
{% endblock %}

{% block content %}
<br>
    <div class="jumbotron vertical-center" style="background:rgb(60, 60, 60);">

      <div class="container text-center">
        <h2 style="color:white; ">Oh no! That page doesn't exist!</h2>
        <div class="row align-items-center">

            <div class="top-bg"></div>



            <img src="../static/eyore.gif" class="center" alt="Eyore">


        </div>
      </div>

    </div>
{% endblock %}