{% extends 'base.html' %}

{% block title %}{{event.home_team}} v {{event.away_team}}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/event.css">{% endblock %}

{% block content %}
<h3 id="event-header">{{event.title}}</h3>

<div id="event-container">
    {% if event.resolved %}
    <p>Winner: {{event.winner}}</p>
    {{event.home_team}}: {{event.home_score}}
    {{event.away_team}}: {{event.away_score}}
    {% endif %}
    <form action="submit" id="bet-form">
        {% if event.resolved == False %}
        {% if bet_on %}
        <p>You bet {{bet.amount}} on {{bet.selection}}</p>
        <p>Result: {{result}}</p>
        {% else %}
        <label for="bet-selection">select winning team</label>
        <select name="bet" id="bet-selection">
            <option value="{{event.home_team}}">{{event.home_team}}</option>
            <option value="{{event.away_team}}">{{event.away_team}}</option>
        </select>
        <label>amount</label>
        <input type="number" name="amount" id="bet-amt" min=1 max=1000>
        <button data-event_id={{event.id}} id="bet-btn">bet</button>
        {% endif %}
        {% endif %}
        {% if result != 'Undecided' and bet_on %}
        <p>Win/loss: {{bet.final_margin}}</p>
        {% endif %}
    </form>
    <div id="api-response-container">
        <div id="bet-details"></div>
    </div>
    <div class="event-feed">
        <ul id="recent-bets">
            {% if bets != None %}
            <h3>Recent bets:</h3>
            {% for bet in bets %}
            <li>${{bet.amount}} on {{bet.selection}}
                ({{event.home_team}} vs {{event.away_team}})</li>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>

<script src="../static/event.js"></script>

<form class = "input-group md-3" action = "/test/{{event.id}}" method = "POST">
        <div>
            <label>Name</label>
            <input name = "Name">
        </div>
        <div>
            <label>Email</label>
            <input name = "Email">
        </div>
        <div>
            <input
              type =text
              id = "text"
              name="text"
              class="form-control"
              placeholder="comment something"
            />
        </div>
        <button>type = "submit" class = btn btn-primary">Comment</button>
</form>
{% endblock %}