{% extends 'base.html' %}

{% block title %}{{event.home_team}} v {{event.away_team}}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/event.css">{% endblock %}

{% block content %}
<h3 id="event-header">{{event.title}}</h3>

<div id="event-container">
    <p>Some details here about the event...</p>
    <form action="submit" id="bet-form">
        {% if bet_on %}
        <p>You bet {{bet.amount}} on {{bet.selection}}</p>
        <p>Result: {{result}}</p>
        {% else %}
        <label for="bet-selection">select winning team</label>
        <select name="bet" id="bet-selection">
            <option value="{{event.home_team}}">{{event.home_team}}</option>
            <option value="{{event.away_team}}">{{event.away_team}}</option>
        </select>
        <label>amount</label>
        <input type="number" name="amount" id="bet-amt" min=1 max=1000>
        <button data-event_id={{event.id}} id="bet-btn">bet</button>
        {% endif %}
        {% if result != 'Undecided' %}
        <p>Win/loss: {{bet.final_margin}}</p>
        {% endif %}
    </form>
    <div id="api-response-container">
        <div id="bet-details"></div>
    </div>
    <div class="event-feed">
        <ul id="recent-bets">
            {% if bets != None %}
            <h3>Recent bets:</h3>
            {% for bet in bets %}
            <li>${{bet.amount}} on {{bet.selection}}
                ({{event.home_team}} vs {{event.away_team}})</li>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>

<script src="../static/event.js"></script>
{% endblock %}