<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Form</title>
</head>
<body>
    <form action = "/test" method = "post">
        <div>
            <label>Name</label>
            <input name = "Name">
        </div>
        <div>
            <label>Email</label>
            <input name = "Email">
        </div>
        <div>
            <label>Please enter your comment</label>
            <input name = "Please enter your comment">
        </div>
        <button>Submit</button>
    </form>
</body>
</html>

//
//set up a route in app.py