{% for comment in comments %}
    <div id="comment-list">
        <div class="comment-card">
            <a href="/comment/<event>">
                <p>{{comment.text}}</p>
            </a>
  <form class = "input-group md-3" action = "/comment/{{event.id}}?id={{event.id}}" method = "POST">
        <div>
            <label>Name</label>
            <input name = "Name">
        </div>
        <br />
        <div>
            <label>Email</label>
            <input name = "Email">
        </div>
        <br />
        <div>
            <input
              type ="text"
              id = {{ event.id }}
              name="text"
              class="form-control"
              placeholder="comment something"
            />
        </div>
        <br />
        <button name = "id" value = {{ event.id }} type = "submit" class = "btn btn-primary">Comment</button>
</form>