<form class = "input-group md-3" action = "/test" method = "post">
        <div>
            <label>Name</label>
            <input name = "Name">
        </div>
        <div>
            <label>Email</label>
            <input name = "Email">
        </div>
        <div>
            <input
              type =text
              id = "text"
              name="text"
              class="form-control"
              placeholder="comment something"
            />
        </div>
        <button>type = "submit" class = btn btn-primary">Comment</button>
</form>