{% extends 'base.html' %}

{% block title %}home{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="../static/home.css"> {% endblock %}
{% block content %}

<div class="top-container">
    <h1>home</h1>
    {% if current_user.is_authenticated == False %}
    <div>
        <a href="{{ url_for('login') }}">Sign In</a>
        <a href="{{ url_for('register') }}">Register</a>
    </div>
    {% else %}
    <a href="{{ url_for('logout') }}">Log out</a>
    {% endif %}

    <div class="bet-container">
        {% if bets_events %}
        <h1>Your recent bets:</h1>
        <ul id="bet-ul">
            {% for bet in bets_events %}
            <li><a href="/event/{{bet['event'].id}}">${{bet['bet'].amount}} on {{bet['bet'].selection}}
                    ({{bet['event'].home_team}} vs {{bet['event'].away_team}})</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="event-container">
        <h1 id="event-header">events</h1>
        {% for event in events %}
        <div class="event-card">
            <a href="/event/{{event.id}}">
                <p>{{event.title}}</p>
            </a>
            <ul>
                <li>{{event.home_team}} vs {{event.away_team}}</li>
                <li>{{event.date}}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}