{% extends 'base.html' %}

{% block title %}home{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="../static/home.css"> {% endblock %}
{% block content %}


<div class="top-container">
    <h1>home</h1>
    {% if current_user.is_authenticated == False %}
    <div>
        <a href="{{ url_for('login') }}">Sign In</a>
        <a href="{{ url_for('register') }}">Register</a>
    </div>
    {% else %}
    <a href="{{ url_for('account') }}">Account</a>
    <a href="{{ url_for('logout') }}">Log out</a>
    {% endif %}
    <div class="bet-container">
        {% if bets_events %}
        <h2>Your recent bets:</h2>
        <ul id="bet-ul">
            {% for bet in bets_events %}
            <li><a href="/event/{{bet['event'].id}}">${{bet['bet'].amount}} on {{bet['bet'].selection}}
                    ({{bet['event'].home_team}} vs {{bet['event'].away_team}})</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div id="balance-info-container">
        {% if current_user.is_authenticated %}
        <button type="button" id="reload-balance-btn" data-user={{current_user.id}}
            class="btn btn-outline-secondary">Reload Balance</button>
        {% else %}
        <button id="reload-balance-btn" class="hidden">Reload Balance</button>
        {% endif %}
    </div>

    <div class="event-container">
        <h1 id="event-header">events</h1>
        <form class="form-inline text-center">
            <div class="form-group mb-2">
                <input type="text" class="form-control" id="search-events" placeholder="Search Events">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="completion-filter" class="">Game status</label>
                <select name="completion-filter" id="completion-filter" class="mx-sm-3">
                    <option value="incomplete" selected>Incomplete</option>
                    <option value="completed">Completed</option>
                </select>
            </div>
        </form>
        <div class="event-list-container">
            {% for event in events %}
            <div id="event-list">
                <div class="card bg-light">
                    <div class="row align-items-center">
                        <div class="col">
                            <a href="/event/{{event.id}}">
                                <img class="col" src={{ event.strThumb }} alt="Card image cap">
                            </a>
                        </div>
                        <div class="col">

                            <a href="/event/{{event.id}}">
                                {{event.title}}
                            </a>
                            <div>{{event.datetime}} UTC</div>

                        </div>
                    </div>
                </div>
                <br>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
<script src="../static/home.js"></script>
{% endblock %}